<div class="container">
  <h3>Add brand</h3>
  <div class="formContainer">
    <form #brandEditForm="ngForm" novalidate (ngSubmit)="addBrand()">
      <table>
        <tr>
          <td><label>Name</label></td>
          <td>
            <input
              type="text"
              name="name"
              [(ngModel)]="brand.name"
              title="name"
            />
          </td>
        </tr>
        <tr>
          <td><label>Description</label></td>
          <td>
            <input
              type="text"
              name="description"
              [(ngModel)]="brand.description"
              title="description"
            />
          </td>
        </tr>
      </table>
      <div class="btn-group">
        <button class="btn-success btn-mini" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
