<div class="container">
    <div *ngIf="brand; else nodata">
      <h3>View brand</h3>
      <p>brand ID:{{ brandId }}</p>
      <div class="formContainer">
        <form #brandEditForm="ngForm" novalidate>
          <table>
            <tr>
              <td><label>Name</label></td>
              <td>
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="brand.name"
                  title="name"
                />
              </td>
            </tr>
            <tr>
              <td><label>Description</label></td>
              <td>
                <input
                  type="text"
                  name="description"
                  [(ngModel)]="brand.description"
                  title="description"
                />
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <ng-template #nodata>No data</ng-template>
  </div>
  